<div>
    <img class="BraniHoraDeAventura" src="../../../brani.png" alt="">
</div>

<style>
    .BraniHoraDeAventura{
        width: 600px;
        height: auto;
        position: absolute;
        top: 10rem;
        right: 6rem;
        opacity: 80%;
        transform: rotate(1deg);
        
        animation: delado 1s linear both;
    }

    @keyframes delado {
        to {transform: rotate(25deg);}
    }
</style>