<div class="emoji"> 
    <img src="https://res.cloudinary.com/dipxqc5kj/image/upload/v1708815637/emoji_him0qg.png" alt="">
</div>

<style>
.emoji{
    position: absolute;
    top: -4.2rem;
    right: 1rem;
    width: 15rem;
    z-index: 49;
}
</style>