<div>
    <img class="florDePie" src="../../../pngegg2copia.png" alt="">
</div>

<style>
    .florDePie{
        width: 450px;
        height: auto;
        position: absolute;
        right: 5rem;
    }
</style>