<div>
    <img class="florEsquina" src="../../../florEsquina.png" alt="">
</div>

<style>
    .florEsquina{
        width: 1000px;
        height: auto;
        position: absolute;
        top: 4rem;
        animation: florEsq 3s linear both;
    }

    @keyframes florEsq {
        to {top: -3rem;}
    }
</style>