<div>
    <img class="florDePie" src="https://res.cloudinary.com/dipxqc5kj/image/upload/v1708815711/floresDelCostado_nxkdn2.png" alt="">
</div>

<style>
    .florDePie{
        width: 450px;
        height: auto;
        position: absolute;
        left: 5rem;
    }
</style>