<div>
    <img class="florDePie" src="https://res.cloudinary.com/dipxqc5kj/image/upload/v1708815777/floresDelCostado2_cdn6hi.png" alt="">
</div>

<style>
    .florDePie{
        width: 450px;
        height: auto;
        position: absolute;
        right: 5rem;
    }
</style>