<div>
    <img id="floresTitulo" src="https://res.cloudinary.com/dipxqc5kj/image/upload/v1708815853/Flores-Titulo_aqotp8.png" alt="">
</div>

<style>
    #floresTitulo{
        width: 1000px;
        height: auto;
        position: absolute;
        top: 10rem;
        left: 28rem;

        animation: moverFlores 3s linear both;
    }

    @keyframes moverFlores {
        to {top: 18rem;}
    }
</style>