<div class="MediaNaranja">
    <img src="https://res.cloudinary.com/dipxqc5kj/image/upload/v1708815893/MediaNaranja_ldant2.png" alt="">
</div>

<style>
    .MediaNaranja{
    width: 50rem;
    }
</style>