---
import Layout from "../layouts/Layout.astro";
import GaleriaInicio from "../components/GaleriaInicio.astro"
import FloresTitulo from "../components/imagenes/FloresTitulo.astro"
import BraniHoraDeAventura from "../components/imagenes/BraniHoraDeAventura.astro";
import ImagenesCloudi from "../components/ImagenesCloudi"
import FlorEsquina from "../components/imagenes/FlorEsquina.astro"

---

<Layout title="Inicio">
    <FlorEsquina/>
    <BraniHoraDeAventura/>
    <section class="w-full mx-auto lg:w-[740px] mt-[184px] mb-[122px] bg-white/50 p-16">
      <h1 class="text-5xl font-bold flex flex-row gap-x-4 pb-6 text-black">
        Bren & Dani
      </h1>
      <p class="text-xl opacity-80 text-wrap">
        Hola mi amor, ¡Bienvenida a este espacio que cree para festejar nuestro
        aniversario! este lugar lo cree especialmente para ver y revivir nuestra
        historia, compartir nuevos momentos y soñar con un futuro juntos. vas a
        poder ver nuestra historia desde mi perspectiva, desde el primer momento
        que nos vimos. vas a ver también fotos nuestras, música que nos
        representen o que nos dedicamos y seguramente en algún futuro vamos a
        tener juegos y más. pero no es solo un álbum de recuerdos bebe, va a
        irse actualizando! va a ser un espacio donde podamos seguir escribiendo
        toda nuestra historia y compartir experiencias nuevas espero que te
        guste este espacio que cree con todo mi amor para vos.
      </p>
      <FloresTitulo/>
    </section>
  <ImagenesCloudi client:load/>
    <GaleriaInicio/>

    
  </main>
  
</Layout>
