---
import FlorDePie from "./imagenes/FlorDePie.astro";
import FlorDePie2 from "./imagenes/FlorDePie2.astro";
---

<section class="mt-64">
    <FlorDePie2/>
    <FlorDePie/>
    <div
      class=" vermas columns-4 gap-3 w-[1200px] mx-auto space-y-3 pb-28 grid grid-cols-2 md:grid-cols-4 p-16 bg-white/30 rounded-3xl"
    >
      <div class="grid gap-4">
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="./public/images/imagen2.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="./public/images/imagen3.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="./public/images/imagen4.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="grid gap-4">
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="./public/images/imagen5.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="./public/images/imagen6.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="./public/images/imagen7.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="grid gap-4">
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="./public/images/imagen8.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="./public/images/imagen9.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="./public/images/imagen10.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="grid gap-4">
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="./public/images/imagen11.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="./public/images/imagen12.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>

